<!DOCTYPE html>

<html
        layout:decorate="layout/layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>

<head>

    <link rel="stylesheet" th:href="@{/css/forlog.css}"/>

    <meta charset="UTF-8">
</head>

<body>

<div layout:fragment="main">

    <form action="/api-log/search" method="get" th:object="${dataForm}">
        <label for="start">開始日</label>
        <input id="start" name="startDate" placeholder="YYYY-MM-DD" th:field="*{startDate}"
               th:value="${calculatedLogInfo.getStartLocalDate()}" type="text">
        <label for="end">終了日</label>
        <input id="end" name="endDate" placeholder="YYYY-MM-DD" th:field="*{endDate}"
               th:value="${calculatedLogInfo.getEndLocalDate()}" type="text">
        <input type="submit" value="検索">
        <br>
        <br>
        <div th:if="${#lists.isEmpty(dataForm)}">
            <h2 th:text="${result}"></h2>
            <h2 th:errors="*{startDate}" th:if="${#fields.hasErrors('startDate')}"></h2>
            <h2 th:errors="*{endDate}" th:if="${#fields.hasErrors('endDate')}"></h2>
            <h2 th:errors="*{dateValid}" th:if="${#fields.hasErrors('dateValid')}"></h2>
        </div>

    </form>
    <table border="1" th:unless="${#lists.isEmpty(calculatedLogInfo.getLogContentsDtoList())}">
        <tr>
            <th>API名</th>
            <th>HTTPメソッド</th>
            <th>HTTPステータスコード</th>
            <th>アクセス回数</th>
            <th>実行時間(ms)</th>
        </tr>
        <tr th:each="obj : ${calculatedLogInfo.getLogContentsDtoList()}">
            <td th:text="${obj.apiName}"></td>
            <td th:text="${obj.httpMethod}"></td>
            <td th:text="${obj.httpStatusCode}"></td>
            <td th:text="${obj.accessCount}"></td>
            <td th:text="${#numbers.formatDecimal(obj.executionTime, 3, 'COMMA', 2, 'POINT')}"></td>

        </tr>
    </table>


</div>

</body>

</html>