<!DOCTYPE html>

<html layout:decorate="layout/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

<div layout:fragment="main">

    <h1>プロフィール</h1>

    <table class="table" th:object="${userInfoDto}">

        <tbody>

        <tr>

            <td><img height="100" th:src="'https://avatars2.githubusercontent.com/u/'+*{userId}"></td>

        </tr>

        <tr>

            <td>ユーザー名</td>
            <td th:text="*{userName}"></td>

        </tr>

        <tr>

            <td>会社</td>
            <td th:text="*{userCompany}"></td>

        </tr>

        <tr>

            <td>ID</td>
            <td th:text="*{userId}"></td>
        </tr>

        <tr>

            <td>メールアドレス</td>
            <td th:text="*{userEmail}"></td>

        </tr>

        <tr>

            <td>アクセストークン</td>
            <td th:text="${token}"></td>

        </tr>

        </tbody>

    </table>

</div>

</body>

</html>